In [9]:
#MMA 2020-2021
#TEAM - JARVIS
#823 - TEAM PROJECT

# IMPORTING DATA FROM YAHOO FINANCE

## Loading Libraries

In [ ]:
from pandas_datareader import data as pdr
import yfinance as yf
import datetime
import pandas as pd
import numpy as np

yf.pdr_override()

## Reading Dataset

In [10]:
df = pd.read_excel("Earnings Report.xlsx")

## Extracting stock prices from Yahoo Finance

In [11]:
#Setting start date , end date and also stock tickers
start = df['Start']
end = df['Ends']
stocks = df['Stock Ticker']
prices_df = pd.concat([start,end,stocks],axis=1)
prices_df.head()

       Start       Ends Stock Ticker
0 2019-10-24 2019-10-28         AMZN
1 2019-10-24 2019-10-28         INTC
2 2019-10-16 2019-10-18          BAC
3 2019-11-06 2019-11-08         ROKU
4 2019-10-30 2019-11-01           FB

In [34]:
#Pulling prices from yahoo finance
rows=[]
yf.pdr_override()
for x in range(0,43):
    stockprices_1 = pdr.get_data_yahoo(stocks[x], start=start[x], end=end[x])
    rows.append(stockprices_1)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [35]:
#Combining Dataset of prices
rows = pd.concat(rows)
rows.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-10-24,1771.089966,1788.339966,1760.270020,1780.780029,1780.780029,4446100
2019-10-25,1697.550049,1764.209961,1695.000000,1761.329956,1761.329956,9626400
2019-10-24,52.090000,52.430000,51.430000,52.230000,51.052502,23413000
2019-10-25,54.189999,56.610001,53.919998,56.459999,55.187138,59767700
2019-10-16,30.370001,30.719999,30.150000,30.170000,29.404606,87131700

In [37]:
#Exporting Dataset
rows.to_csv('ClosingPrices.csv')